$primary-color: #fff;
$secondary-color: #f8f8fa;
$dev-color: #213F7D;
$dev-banner: #1b222f;
$dev-color2: #39CDCC;
$dev-color3: black;
$dev-color4: coral;
$dev-blur: #5a6478;
$dev-active-bg: #F3FCF6;
$dev-user-bg: #f8d7fd;
$dev-blacklist-bg: #fde5eb;
$dev-active: #67D987;
$dev-user: #ec72ff;
$dev-blacklist: #fc7b9b;
$bg-hover: #F3FCFC;
$inter-family: 'Inter', sans-serif;
$work-family: 'Work Sans', sans-serif;
$nunito-family:'Nunito', sans-serif;
$font-weights: (
    "light": 200,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extrabold": 800,
);